<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <h3>Registrarse</h3>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Nombre y apellido">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Email">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Repita su contraseña">
        <input type="submit" class="fadeIn fourth" value="Registrarme">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Olvido su contreseña?</a>
      </div>
      <div id="formFooter">
        <a class="underlineHover" href="#">Ya tienes una cuenta?</a>
      </div>
    </div>
  </div>