   <div class="row">
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title"><span class="lstick"></span>{{graficos.grafico1.leyenda}} </div>
                                <div>
                                    <div>
                                        <app-grafico-dona 
                                        [ChartLabels]="graficos.grafico1.labels"
                                        [ChartData]="graficos.grafico1.data"
                                        ChartType="doughnut">
                                        </app-grafico-dona>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title"><span class="lstick"></span>{{graficos.grafico2.leyenda}} </div>
                                    <div>
                                        <div>
                                            <app-grafico-dona 
                                            [ChartLabels]="graficos.grafico2.labels"
                                            [ChartData]="graficos.grafico2.data"
                                            ChartType="doughnut">
                                            </app-grafico-dona>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="card">
                                <div class="card-body">
                                     <div class="card-title"><span class="lstick"></span>{{graficos.grafico3.leyenda}} </div>
                                    <div>
                                        <div>
                                            <app-grafico-dona 
                                            [ChartLabels]="graficos.grafico3.labels"
                                            [ChartData]="graficos.grafico3.data"
                                            ChartType="doughnut">
                                            </app-grafico-dona>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title"><span class="lstick"></span>{{graficos.grafico4.leyenda}} </div>
                                        <div>
                                            <div>
                                                <app-grafico-dona 
                                                [ChartLabels]="graficos.grafico4.labels"
                                                [ChartData]="graficos.grafico4.data"
                                                ChartType="doughnut">
                                                </app-grafico-dona>
                                              </div>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                        </div>
               
              
    